<div>
  <nav>
    <div class="header">
      <img src="../../../assets/images/LogoFlavourShop.png" alt="Logo">

      <button class="button"
              mat-raised-button color="Cos"><a routerLink="/cos"> Cos</a>
      </button>

      <button class="button"
              mat-raised-button color="Register"><a routerLink="/registration"> Register</a>
      </button>

      <button class="button"
              mat-raised-button color="Login"><a routerLink="/login">Login</a>
      </button>

      <button class="button"
              mat-raised-button color="Logout">Logout
      </button>

      <button class="button"
              mat-raised-button color="Products"><a routerLink="/products"> Products</a>
      </button>

      <button class="button"
              mat-raised-button color="Home"><a routerLink="/home"> Home</a>
      </button>
    </div>
  </nav>
</div>


