<div>

  <nav>
    <div class="header">
      <img src="../../../assets/images/LogoFlavourShop.png" alt="Logo">
      <div class="button">
        <button
          mat-raised-button color="Register">Register
        </button>
      </div>

      <div class="button">
        <button
          mat-raised-button color="Login">Login
        </button>
      </div>

      <div class="button">
        <button
          mat-raised-button color="Logout">Logout
        </button>
      </div>

      <div class="button">
        <button
          mat-raised-button color="About">About
        </button>
      </div>
    </div>
  </nav>



</div>


