<div>
  <nav>
    <div class="header">
      <a href = "/home" alt="refresh"></a>
      <img src="../../../assets/images/LogoFlavourShop.png" alt="Logo">

      <button class="button"
              mat-raised-button color="Shopping_cart"><a routerLink="/shopping-cart"> <mat-icon>shopping_cart</mat-icon></a>
      </button>

      <button class="button"
              mat-raised-button color="Register" *ngIf="!logedin"><a routerLink="/registration"> Register</a>
      </button>

      <button class="button"
              mat-raised-button color="Login" *ngIf="!logedin"><a routerLink="/login">Login</a>
      </button>

      <button class="button" id="logout"
              mat-raised-button color="Logout" onclick="localStorage.removeItem('token'); location.href='/home'" *ngIf="logedin">Logout
      </button>

      <button class="button"
              mat-raised-button color="Products"><a routerLink="/products"> Products</a>
      </button>

      <button class="button"
              mat-raised-button color="Home"><a routerLink="/home" > Home</a>
      </button>
    </div>
  </nav>
</div>

<script type="text/javascript">
  console.log(localStorage.getItem('token'));
  if(localStorage.getItem('token')){
    document.getElementById("logout").removeAttribute("hidden");
  }
  else
    document.getElementById("logout").setAttribute("hidden", "hidden");
</script>

