<div class="container">
  <form [formGroup]="passwordForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">

    <div class="row">
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input [type]="'password'" matInput formControlName="password1">
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="standard">
        <mat-label>Confirm Password</mat-label>
        <input [type]="'password'" matInput formControlName="password2">
        <mat-icon matSuffix> lock</mat-icon>
      </mat-form-field>
    </div>

    <div class="password-not-match"
         *ngIf="!matchPasswordValidator(passwordForm.controls.password1.value!, passwordForm.controls.password2.value!)">
      Passwords do not match
    </div>

    <div class="row">
      <button class="button" [disabled]="!passwordForm.valid" mat-raised-button mat-button color="primary"
              type="submit">
        Reset
      </button>
    </div>

  </form>
</div>
