<div class="shopping">
  <mat-card class="shopping-cart" *ngFor="let product of productsCart">
    <div class="row">

      <div class="col1">
        <mat-card-title-group>
          <mat-card-title class="shopping-list-name">{{product.nameProduct}}</mat-card-title>
          <mat-card-subtitle class="shopping-list-ingredients"
                             *ngFor="let ingredient of product.ingredients">{{ ingredient.nameIngredient}}</mat-card-subtitle>
        </mat-card-title-group>
      </div>

      <div class="col2">
        <div class="order-option">Quantity: <span id="quantity-field">
        <button id="up" (click)="incrementQuantity(product)">+</button>
        <input type="text" id="quantity" [(ngModel)]="product.quantityProduct"
               [value]="product.quantityProduct"
               [min]="0"
               [max]="50">
        <button id="down" *ngIf="product.quantityProduct > 1; " mat-raised-button mat-button color="primary"
                type="submit"
                (click)="decrementQuantity(product)">-</button></span>
        </div>
      </div>

      <div class="col3">
        <mat-card-actions>
          <button class="button" mat-raised-button mat-button color="primary" type="submit"
                  (click)="deleteProductFromCart(product)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>
      </div>

      <div class="col4">
        <mat-card-content class="shopping-list-price">Price: {{getPrice(product)}}</mat-card-content>
        <mat-card-content class="shopping-list-price">Total
          price: {{product.quantityProduct * getPrice(product)}}</mat-card-content>
      </div>
    </div>
  </mat-card>

  <div *ngIf="productsCart.length > 0; else emptyCart" class="order-container">
    <div class="user-details">

      <form [formGroup]="addressForm" novalidate>

        <div class="address-form">
          <label for="street">Street</label>
          <input type="text" id="street" placeholder="Street name" formControlName="street">

          <label for="number">Number</label>
          <input type="text" id="number" placeholder="Street number" formControlName="number">

          <label for="code">Postal Code</label>
          <input type="text" id="code" placeholder="Postal code" formControlName="code">

          <label for="state">State</label>
          <input type="text" id="state" placeholder="State" formControlName="state">

          <label for="country">Country</label>
          <select id="country" name="country" formControlName="country">
            <option value="Romania">Romania</option>
          </select>


        </div>
      </form>
      <button mat-raised-button mat-button color="primary"
              [disabled]="addressForm.invalid"
              (click)="onSubmit()" class="buttonSubmit"
              type="button"><a routerLink="/order"> Submit</a>
      </button>


      <div class="total-price">
        <p>Total price: {{getTotal()}} RON</p>
      </div>
    </div>

    <div class="actions-footer">
      <button class="buttonSubmit" type="button">
        <a routerLink="/products"> Continue shopping</a>
      </button>


    </div>
  </div>
</div>

<ng-template #emptyCart>
  <h1 [style.text-align]="'center'">Your cart is empty</h1>
</ng-template>

