<div class="shopping">
  <mat-card class="shopping-cart" *ngFor="let orderProduct of orderProducts">
    <div class="row">
      <div class="col1">
        <mat-card-title-group>
          <mat-card-title class="shopping-list-name">{{orderProduct.orderProduct.nameProduct}}</mat-card-title>
          <mat-card-subtitle class="shopping-list-quantity">Quantity: {{orderProduct.quantity}} </mat-card-subtitle>
        </mat-card-title-group>
      </div>
      <div class="col2">
        <mat-card-actions>
          <button class="button" mat-raised-button mat-button color="primary" type="submit" ><!--(click)="deleteProduct(product, product.quantity)-->
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-actions>

      </div>
      <div class="col3">
        <mat-card-content class="shopping-list-price">Price: {{orderProduct.orderProduct.priceProduct}}</mat-card-content>
        <mat-card-content class="shopping-list-price">Total price: {{orderProduct.quantity}} * {{orderProduct.orderProduct.priceProduct}}</mat-card-content>
      </div>
    </div>
  </mat-card>
</div>

