.container {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffeaf7;
  opacity: 0.9;
  max-width: 100%;
  overflow: hidden;
}

form {
  outline: 3px solid #6e0940;
  padding-inline: 4.5%;
  padding-block: 2%;
  text-align: center;
  background: url('../../../../../assets/images/flavourImage.png') no-repeat center;
}

.row:last-child {
  margin-top: 15%;
}

.password-not-match {
  color: red;
  opacity: 1;
  text-align: left;
  font-weight: bold;
}

mat-label, mat-icon, mat-error {
  color: #6e0940;
}

.button {
  background-color: #6e0940;
}





