<div class="products">
  <button mat-button [matMenuTriggerFor]="menu">Sort</button>
  <mat-menu class="sort" #menu="matMenu">
    <button mat-menu-item (click)="sortProduct('asc', 'price')">Ascending by Price</button>
    <button mat-menu-item (click)="sortProduct('desc', 'price')">Descending by Price</button>
    <button mat-menu-item (click)="sortProduct('asc', 'name')">Ascending by Name</button>
    <button mat-menu-item (click)="sortProduct('desc', 'name')">Descending by Name</button>
  </mat-menu>

  <mat-card class="example-card" *ngFor="let product of pageSlice; index as idx">
    <div class="row">
      <div class="col1">
        <mat-card-title-group>
          <mat-card-title class="product-name">{{product.nameProduct}}</mat-card-title>
          <mat-card-subtitle class="product-price">Price: {{product.priceProduct}} RON</mat-card-subtitle>
        </mat-card-title-group>

        <mat-card-content class="product-description">{{product.description}}</mat-card-content>

        <mat-card-actions>
          <div ></div>
          <button class="button" *ngIf="product.quantity > 0; " mat-raised-button mat-button color="primary" type="submit" (click)="addProduct(product, product.quantity)">
            Add to cart
            <a href="/ingredients"></a>
          </button>
        </mat-card-actions>
      </div>
      <div class="col2">
        <!--<form action="/action_page.php">
          <label for="quantity">Quantity: </label>
          <input type="number" id="quantity" name="quantity" min="1" max="5">
          <input type="submit">
        </form>-->
<!--        <div formArrayName="productQuantity">-->
<!--          <div *ngFor="let productQuantity of productsQuantity.controls">-->
            <input placeholder="Enter a Quantity!" [(ngModel)]="product.quantity">
            <label *ngIf="true" [ngClass] = "'error'"> Quantity is required. </label>
<!--          </div>-->
<!--        </div>-->

      </div>
      <div class="col3">
        <img mat-card-sm-image src="">
      </div>
    </div>
  </mat-card>
</div>

<mat-paginator [length]=products.length
               [pageSize]="4"
               [pageSizeOptions]="[4, 8, 16]"
               aria-label="Select page"
               (page)="OnPageChange($event)"
>
</mat-paginator>
