.products {
  max-width: 1000px;
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
}

.col1 {
  padding: 50px;
  height: 400px;
  background-color: #ffeaf7;
  opacity: 0.6;
  color: #6e0940;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  float: left;
  width: 35%;
}

.col2 {
  padding: 50px;
  height: 400px;
  background-color: #ffeaf7;
  opacity: 0.6;
  color: #6e0940;
  margin-top: 20px;
  text-decoration: none;
  font-size: 10px;
  width: 35%;
}

.col3 {
  padding: 50px;
  height: 400px;
  background-color: #ffeaf7;
  opacity: 0.6;
  color: #6e0940;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  float: right;
  width: 30%;
}

.product-name {
  color: #ef2796;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.product-price {
  color: #6e0940;
  font-size: 14px;
  text-align: center;
}

.product-description {
  color: #6e0940;
  font-size: 12px;
  text-align: left;
  width: 205px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.button, .buttonEdit {
  display: block;
  text-align: center;
  background: #6e0940;
  color: white;
  border-radius: 3px;
  width: 160px;
  height: 45px;
  font-size: 20px;
  line-height: 50px;
}


.buttonEdit:hover{
  background-color: #ef2796;
}

.button:hover {
  background-color: #ef2796;
}

mat-card:not([class*=mat-elevation-z]) {
  box-shadow: unset !important;
}

input {
  outline: none;
  border: none;
}

.multi-selector {
  width: max-content;
}

.select-field, .ingredients, .list {
  width: 100%;
  background-color: white;
  padding: 0.3rem;
}

.list {
  box-shadow: 0 30px 60px #e293b3;
}

.down-arrow {
  font-size: 1.2rem;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s linear;
}

.rotate150 {
  transform: rotate(150deg);
}

.ingredients {
  display: block;
  padding-left: 0;
}

.ingredients span {
  float: right;
  font-size: 0.6rem;
  padding-top: 6px;
}

.ingredients:hover {
  background-color: white;
}

.show {
  display: block;
}
